body {
    max-width: 700px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgrey;
}
fieldset{
    background-color: rgb(96, 129, 126);
    border-style: solid;
}
legend{
    font-size: 28px;
    background-color: lightgray; 
}
.textbox{
    width: 80%;
}
.tekstboks{
    width: 200px;
}

#strength,#speed,#intelligence{
    width: 200px;
}
#submit{
    cursor: pointer;
    margin-left: 82%;
}