fieldset {
    max-width: 600px;
    min-height: 600px;
    background-color: azure;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#submit{
    color:black;
    background-color: white;
    border: solid 3px lightblue;
    cursor: pointer;
}
#todolist{
    list-style-type: none;
}
#date{
    position: fixed;
    bottom: 0;
    right: 0;
}
#inputItem {
    border-style: solid;
    border-color:blue;
}
#outputBox {
    border-style: solid;
    border-color: grey;
}

input:checked + label {
    text-decoration: line-through;
}