body {
  font-family: "Open Sans", "Segoe UI", Ubuntu, Cantarell,
    "Helvetica Neue", sans-serif;
  height: 100%;
}

#intro {
  margin: auto;
  max-width: 1300px;
}

h1 {
  align-self: center;
  margin: auto;
  font-size: 4em;
}

.wrapper {
  width: 500px;
  display: flex;
  margin: auto;
}

svg {
  fill: grey;
  stroke: lightgrey;
  stroke-width: 4;
  fill-rule: evenodd;
}

polygon:hover {
  fill: red;
}

circle {
  stroke:gray;
  stroke-width:3 ;
  fill:white; 
}

circle:hover {
  fill:black;
}

#infoDiv {
  max-width: 1300px;
  margin: auto;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}